<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1> THIS IS PAGE WILL GIVE YOU HELP TO REVERSE STRING </h1>
        <br>
        <form action=" " method="post"> {% csrf_token %}
            <h1> please  enter your string <input type="text" name="string" > </h1>
            <br>
            <button type="submit"> enter </button>

        </form>
        
        <script src="" async defer></script>
    </body>
</html>